In [1]:
import pandas as pd

In [16]:
df = pd.read_csv('creditcard.csv')
class_0_df = df[df.Class==0].head(1000)
class_1_df = df[df.Class==1]

result_df = pd.concat([class_0_df, class_1_df], axis=0).reset_index(drop=True)
df = result_df.copy()
# ... your preprocessing steps here ...
# df - df.iloc[:,:]

In [17]:
df.shape

(1492, 31)

In [4]:
# df = df.iloc[:,28:]
df = df.iloc[:,:]

In [18]:
df.to_csv('creditcard_sample.csv', index=False)

In [13]:
pd.read_csv('validation_set.csv')

        V28  Amount
0  0.014724    2.69

In [14]:
df.columns

Index(['V28', 'Amount', 'Class'], dtype='object')

In [15]:
df = pd.read_csv('creditcard.csv')

In [21]:
df.head(3).drop(['Class'], axis=1).to_csv('validation_set.csv')

In [22]:
df.head(3).drop(['Class'], axis=1)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,0.251412,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.069083,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.524980,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66